---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import RQuiz from '~/components/quiz/Quiz.tsx';
import Features from '~/components/widgets/Features.astro';
import {quizData} from '~/utils/quiz';
import { sanityClient } from "sanity:client";
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '../components/widgets/BlogLatestPosts.astro';
import { CollapseMenu } from 'sanity';
import Stats from '~/components/widgets/Stats.astro';
import ContactUs from '~/components/widgets/Contact.astro';


interface HomepageData {
  title?: string;
  subTitle?: string;
  teaser?: string;
  buttonText?: string;
  image?: any;
  tagline?: any;
  testimonial?: any;
  blogs?: any;

}

export interface Props {
  metadata?: MetaDataType;
}

const homePageData = await sanityClient.fetch(`*[_type == "home"]`);
let data: HomepageData | null = null;

homePageData.map(d => data = d)

const metadata = {
  title: `${data.metaTitle}`,
  description: `${data.metaDescription}`,
  ignoreTitleTemplate: true,
};


---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: data.buttonText, href: '#quiz' },
    ]}
  >
    <Fragment slot="title">
      <span set:html={data.title} class="text-accent dark:text-white highlight"></span><br>
      <span set:html={data.subTitle}></span>
    </Fragment>

    <Fragment set:html={data.teaser} slot="subtitle">
      
    </Fragment>

    <Fragment set:html={data.tagline} slot="content"></Fragment>
  </Hero>


  <Stats
    stats={[
      { title: data.proof1title, amount: data.proof1amount},
      { title: data.proof2title, amount: data.proof2amount },
      { title: data.proof3title, amount: data.proof3amount },
      { title: data.proof4title, amount: data.proof4amount},
    ]}
  />


  <Features
  id="features"
  tagline=`${data.stepsTitle}`
  title=`${data.stepsSubTitle}`
  columns={4}
  items={[
    {
      title: `${data.step1text}`,
      icon: 'tabler:number-1',
    },
    {
      title: `${data.step2text}`,
      icon: 'tabler:number-2',
    },
    {
      title: `${data.step3text}`,
      icon: 'tabler:number-3',
    },
    {
      title: `${data.step4text}`,
      icon: 'tabler:number-4',
    },
  ]}
/>

  <div id="quiz" class="mb-8 border-t border-gray-200 dark:border-slate-800">
    <RQuiz client:load quiz={quizData}>
      <ContactUs
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
      inputs={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
        },
      ]}
      textarea={{
        label: 'Message',
      }}
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 24 business hours."
    </RQuiz>
  </div>

  <Testimonials
   id="testimonials"
    title="What people say about us"
    testimonials={data.testimonial}
    callToAction={null}
  />

  <!-- <Testimonials
   id="testimonials"
    title="What people say about us"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Mick Noya',
        job: 'Reisspecialist',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Rik Toetenel',
        job: 'Levensgenieter',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Sven Vrolijk',
        job: 'Dooie mus',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <div id="blog"></div>
  <BlogLatestPosts
    title=`${data.blogTitle}`
    information={`${data.blogSubTitle}`}
  />
</Layout>
