---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import RQuiz from '~/components/quiz/Quiz.tsx';
import Features from '~/components/widgets/Features.astro';
import {quizData} from '~/utils/quiz';
import { sanityClient } from "sanity:client";
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '../components/widgets/BlogLatestPosts.astro';
import { CollapseMenu } from 'sanity';


interface HomepageData {
  title?: string;
  subTitle?: string;
  teaser?: string;
  buttonText?: string;
  image?: any;
  tagline?: any;
  testimonial?: any;
  blogs?: any;

}

const metadata = {
  title: 'NEXT2GO — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};

const homePageData = await sanityClient.fetch(`*[_type == "home"]`);
let data: HomepageData | null = null;

homePageData.map(d => data = d)

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: data.buttonText, href: '#quiz' },
    ]}
  >
    <Fragment slot="title">
      <span set:html={data.title} class="text-accent dark:text-white highlight"></span><br>
      <span set:html={data.subTitle}></span>
    </Fragment>

    <Fragment set:html={data.teaser} slot="subtitle">
      
    </Fragment>

    <Fragment set:html={data.tagline} slot="content"></Fragment>
  </Hero>


  <Features
  id="features"
  tagline="NEXT2GO process"
  title="The journey to your next destination"
  columns={4}
  items={[
    {
      title: 'Quiz',
      icon: 'tabler:number-1',
    },
    {
      title: 'Curated advice',
      icon: 'tabler:number-2',
    },
    {
      title: '1 on 1 contact',
      icon: 'tabler:number-3',
    },
    {
      title: 'Book',
      icon: 'tabler:number-4',
    },
  ]}
/>

  <div id="quiz" class="mb-8 border-t border-gray-200 dark:border-slate-800">
    <RQuiz client:load quiz={quizData}></RQuiz>
  </div>

  <Testimonials
   id="testimonials"
    title="What people say about us"
    testimonials={data.testimonial}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- <Testimonials
   id="testimonials"
    title="What people say about us"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Mick Noya',
        job: 'Reisspecialist',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Rik Toetenel',
        job: 'Levensgenieter',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Sven Vrolijk',
        job: 'Dooie mus',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Hier een pakkende titel voor de/het blog"
    information={`Hier een mega interessante introductie tekst voor de/het blog
                `}
  />
</Layout>
