---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import RQuiz from '~/components/quiz/Quiz.tsx';
import {quizData} from '~/utils/quiz';
import { client } from '~/client';
import { sanityClient } from "sanity:client";
import imageUrlBuilder from "@sanity/image-url";


interface HomepageData {
  title?: string;
  subTitle?: string;
  teaser?: string;
  buttonText?: string;
  image?: any;

}

const metadata = {
  title: 'NEXT2GO — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};

const homePageData = await sanityClient.fetch(`*[_type == "home"]`);
let data: HomepageData = null;

homePageData.map(d => data = d)

const builder = imageUrlBuilder(sanityClient)
const image = data.image && builder
  .image(data.image)
  .width(2000)
  .fit('max')
  .auto('format')
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: data.buttonText, href: '#quiz' },
    ]}
    image={{ src: image.url(), alt: 'Your personal travel planner' }}
  >
    <Fragment slot="title">
      <span set:html={data.title} class="text-accent dark:text-white highlight"></span><br>
      <span set:html={data.subTitle}></span>
    </Fragment>

    <Fragment set:html={data.teaser} slot="subtitle">
    </Fragment>
  </Hero>

  <div id="quiz" class="mb-8 border-t border-gray-200 dark:border-slate-800">
    <RQuiz client:load quiz={quizData}></RQuiz>
  </div>
</Layout>
