---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import RQuiz from '~/components/quiz/Quiz.tsx';
import Features from '~/components/widgets/Features.astro';
import { quizData } from '~/utils/quiz';
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';
import BlogLatestPosts from '../components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Svgs from '~/components/Svgs.astro';

interface HomepageData {
  title?: string;
  subTitle?: string;
  teaser?: string;
  buttonText?: string;
  image?: any;
  tagline?: any;
  testimonial?: any;
  blogs?: any;
}

export interface Props {
  metadata?: MetaDataType;
}

const homePageData = await sanityClient.fetch(`*[_type == "home"]`);
let data: HomepageData | null = null;

homePageData.map((d) => (data = d));

const builder = imageUrlBuilder(sanityClient);

const urlFor = (source) => {
  return builder.image(source);
};

const metadata = {
  title: `${data.metaTitle}`,
  description: `${data.metaDescription}`,
  ignoreTitleTemplate: true,
};

const image = urlFor(data.image).url();
const showSvgs = true;
---

<script>
  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-svg-button]');

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      console.log('button clicked');
      const isShown = document.getElementById('svg-content').style.display === 'block';
      if (isShown) {
        return (document.getElementById('svg-content').style.display = 'none');
      } else {
        return (document.getElementById('svg-content').style.display = 'block');
      }
    });
  });
</script>
<div class="is-home-page">
  <Layout metadata={metadata} whiteheader={true}>
    <!-- Hero Widget ******************* -->

    <button class="btn-primary m-0 svg-button" data-svg-button>Vacation mood on</button>

    <Hero whitetext={true} image={image} actions={[{ text: data.buttonText, href: '#quiz' }]}>
      <Fragment slot="title">
        <span set:html={data.title} class="text-accent dark:text-white highlight" /><br />
        <span set:html={data.subTitle} />
      </Fragment>

      <Fragment set:html={data.teaser} slot="subtitle" />

      <Fragment set:html={data.tagline} slot="content" />
    </Hero>

    <Stats
      stats={[
        { title: data.proof1title, amount: data.proof1amount },
        { title: data.proof2title, amount: data.proof2amount },
        { title: data.proof3title, amount: data.proof3amount },
      ]}
    />

    <Features
      id="features"
      tagline=`${data.stepsTitle}`
      title=`${data.stepsSubTitle}`
      columns={4}
      items={[
        {
          title: `${data.step1text}`,
          icon: 'tabler:number-1',
        },
        {
          title: `${data.step2text}`,
          icon: 'tabler:number-2',
        },
        {
          title: `${data.step3text}`,
          icon: 'tabler:number-3',
        },
        {
          title: `${data.step4text}`,
          icon: 'tabler:number-4',
        },
      ]}
    />

    <div id="quiz" class="mb-8 border-t border-gray-200 dark:border-slate-800">
      <RQuiz client:load quiz={quizData}>
        <ContactUs
          title="Drop us a message today!"
          subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
          inputs={[
            {
              type: 'text',
              name: 'name',
              label: 'Name',
            },
            {
              type: 'email',
              name: 'email',
              label: 'Email',
            },

            {
              type: 'tel',
              name: 'phone',
              label: 'Phone number',
            },
          ]}
          textarea={{
            label: 'Message',
          }}
          disclaimer={{
            label:
              'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
          }}
          description="Our support team typically responds within 24 business hours."
        />
      </RQuiz>
    </div>

    <Testimonials
      id="testimonials"
      title="What people say about us"
      testimonials={data.testimonial}
      callToAction={null}
    />

    <!-- HighlightedPosts Widget ******* -->

    <div id="blog"></div>
    <BlogLatestPosts title=`${data.blogTitle}` information={`${data.blogSubTitle}`} />
    <Svgs />
  </Layout>
</div>
